extends ../layout

block content
    script(src='/javascripts/suppliers.js')

    h1= title
    table#tbl_suppliers
        tr 
            th id
            th Имя
            th Адрес
            th Номер телефона

